#main{
	border: 1px solid blue;
	padding: 20px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-color: #e6f2ff
}

#main div{
	margin-bottom: 10px;
}

#msg{
	color: green;
}

body{
	background-color: #fff9e6
}

button{
	padding: 5px;
	border-radius: 5px;	
}

input{
	padding: 5px;
}
img{
	position: absolute;
	//position: relative;
	bottom: 10px;
	//right: 10px;
	height: 100px;
}
fieldset{
	margin: 5px 0;
	border-radius: 5px;	
	float: left;
	height: 225px;
}
fieldset + fieldset *{
	display: block;
	margin-top: 5px;
}